body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(19, 18, 18);
}

* {
    margin: 0;
    padding: 0;
}
/*sidebar of the page*/
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 196px;
    background-color: black;
    padding: 24px;
}

.sidebar .logo img {
    width: 100px;
}

.sidebar .navigation ul {
    list-style: none;
    margin-top: 20px;
}

.sidebar .navigation ul li {
    padding: 10px 0px;
}

.sidebar .navigation ul li a {
    color: gray;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
}

.sidebar .navigation ul li a:hover,
.sidebar .navigation ul li a:active,
.sidebar .navigation ul li a:focus {
    color: wheat;
}

.sidebar .navigation ul li a:hover .fa,
.sidebar .navigation ul li a:active .fa,
.sidebar .navigation ul li a:focus .fa {
    color: rgb(216, 201, 171);
}

.sidebar .navigation ul li a:hover .fa:hover,
.sidebar .navigation ul li a:active .fa:active,
.sidebar .navigation ul li a:focus .fa:focus {
    color: rgb(240, 229, 210);
}

.sidebar .navigation ul li .fa {
    font-size: 20px;
    margin-right: 10px;
}

.sidebar .policies {
    position: absolute;
    bottom: 10px;
}

.sidebar .policies ul {
    list-style: none;
}

.sidebar .policies ul li {
    padding-bottom: 5px;
}

.sidebar .policies ul li a {
    color: antiquewhite;
    font-weight: 500;
    text-decoration: none;
    font-size: 10px;
}

.sidebar .policies ul li a:hover,
.sidebar .policies ul li a:active,
.sidebar .policies ul li a:focus {
    text-decoration: underline;
}
/*navigation bar of the page*/
.main-container {
    margin-left: 245px;
    margin-bottom: 100px;
}

.topbar {
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 14px 30px;
}

.topbar .prev-next-buttons button {
    color: gray;
    cursor: pointer;
    width: 34px;
    height: 34px;
    border-radius: 100%;
    font-size: 18px;
    border: 0px;
    background-color: black;
    margin-right: 10px;
}

.topbar .navbar {
    display: flex;
    align-items: center;
}

.topbar .navbar ul {
    list-style: none;
}

.topbar .navbar ul li {
    display: inline-block;
    margin: 0px 8px;
    width: 70px;
}

.topbar .navbar ul li a {
    color: gray;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
}

.topbar .navbar ul li a:hover,
.topbar .navbar ul li a:active,
.topbar .navbar ul li a:focus {
    color: wheat;
    font-size: 15px;
}

.topbar .navbar ul li.divider {
    color: white;
    font-size: 26px;
    margin: 0px 20px;
    width: auto;
}

.topbar .navbar button {
    background-color: white;
    color: black;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 30px;
    border: 0px;
    border-radius: 40px;
    cursor: pointer;
    margin-left: 20px;
}

.topbar .navbar button:hover,
.topbar .navbar button:focus,
.topbar .navbar button:active {
    background-color: antiquewhite;
}
/*Main section and playlist section of the page*/
.spotify-playlist {
    padding: 20px 40px;
}

.spotify-playlist h2 {
    color: white;
    font-size: 22px;
    margin-bottom: 20px;
}

.spotify-playlist .list {
    display: flex;
    gap: 20px;
    overflow: hidden;
}

.spotify-playlist .list .item {
    min-width: 140px;
    width: 160px;
    padding: 15px;
    background-color: black;
    border-radius: 6px;
    cursor: pointer;
    transition: all ease 0.4s;
}

.spotify-playlist .list .item:hover {
    background-color: gray;
}

.spotify-playlist .list .item img {
    width: 100%;
    border-radius: 6px;
    margin-bottom: 10px;
}

.spotify-playlist .list .item .play {
    position: relative;
}

.spotify-playlist .list .item .play .fa-play {
    position: absolute;
    right: 10px;
    top: -60px;
    padding: 18px;
    background-color: rgb(49, 170, 49);
    border-radius: 100%;
    opacity: 0;
    transition: all ease 0.4s;
}

.spotify-playlist .list .item:hover .play .fa-play {
    opacity: 1;
    transform: translateY(-20px);
}

.spotify-playlist .list .item h4 {
    color: white;
    font-size: 14px;
    margin: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.spotify-playlist .list .item p {
    color: gainsboro;
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
}

.spotify-playlist hr {
    margin: 30px 0px 0px;
    border-color: white;
}
/*footer and ads section of the page*/
.preview {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, purple, skyblue);
    padding: 8px 40px;
    display: flex;
    justify-content: space-between;
}

.preview h6 {
    color: wheat;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 10px;
}

.preview p {
    color: wheat;
    font-size: 14px;
    font-weight: 500;
}

.preview button {
    background-color: white;
    color: black;
    font-size: 16px;
    font-weight: bold;
    border: 0px;
    border-radius: 40px;
    cursor: pointer;
    padding: 14px 30px;
}